<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</head>
<body>
<div ng-app
     ng-init="people=[{name: 'User A', city: 'boston'},{name: 'J User J', city: 'Atlanta'},{name: 'C User', city: 'Inman'},{name: 'D User', city: 'Inman'}]">
    <div>{{1+2}}=3!</div>
    <div>{{"Hello World"}}</div>

    <div id="people" ng-model="people"  data-drop="accept: '', data: {mydropdata:true}"
         style="padding: 5px;border: 1px;border-color: black;border-style: solid;width: 100px"><!--ondragenter="dragEnter(event)" ondragover="drop(event)"-->
        <div class="person" ng-class="person.name"
            draggable="true" data-drag="handle: '', container: 'people', data: {mydragdata:'{{person.name}}'}"
            ng-repeat="person in people"
        >
        {{person.name}}
    </div>
</div>
</div>
</body>
<script src="dist/dragdrop.js">
</script>
</html>

